.heading{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}
@media all and (min-width: 992px) {
    .heading{
        
        margin-bottom: 3.5rem;
        margin-top: 2.5rem;
    }
    
}

.sharee{
    font-family: 'poppins';
    color: rgb(116, 116, 116);
    font-weight: 500;
    font-size: 13px;
}

.sharee a{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
}